body {
    overflow-y:auto;
}

/* Oculta la scrollbar */
body::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #6c757d;
}

.nav .nav-link {
    color: gray;
}